body {
  background-color: black;
}

h1 {
  font-size: 50px;
  font: outline;
  text-align: center;
  color: aqua;
}
.form {
  text-align: center;
  color: aqua;
  font-size: 20px;
  border-spacing: 30px;
}

.box {
  width: 500px;
  height: 30px;
  border-color: deepskyblue;
}

.box1 {
  width: 500px;
  height: 80px;
  border-color: deepskyblue;
}
